{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "none",
  "semi": false,
  "importOrder": ["^react$", "^next","^clsx$", "<THIRD_PARTY_MODULES>", "^[./]"],
  "importOrderSortSpecifiers": true,
  "importOrderGroupNamespaceSpecifiers": true
}
