---
import Avatar from "./Avatar.astro";
---

<Avatar />

<header>
  <h1>Jon Preece</h1>
  <h2>Senior Full Stack TypeScript / JavaScript / React Developer</h2>
</header>

<style>
  header {
    margin: 1rem 0 0 0;
  }
</style>
